body[data-theme="horror"] {
  background-image: url("../../assets/images/creepy-forest-2.jpg");
}

.counter-game-card[data-theme="horror"] {
  background-color: rgba(22, 21, 21, 0.4);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
}

.counter-game-card[data-theme="horror"]::after {
  background: linear-gradient(
      -45deg,
      rgba(58, 12, 12, 0.4) 0%,
      rgba(75, 13, 13, 0.3) 10%,
      rgba(104, 18, 18, 0.3) 30%,
      rgba(78, 17, 17, 0.3) 50%,
      rgba(26, 2, 2, 0.3) 60%,
      rgba(26, 2, 2, 0.4) 80%,
      rgba(0, 0, 0, 0.4) 100%
    )
    repeat 0% 0% / 300% 100%;
}

.counter-game-card[data-theme="horror"] button {
  background-color: rgba(122, 16, 16, 0.8);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all 0.2s linear;
}

.counter-game-card[data-theme="horror"] button:active {
  background-color: rgba(122, 16, 16, 0.6);
  box-shadow: none;
}

.counter-game-card[data-theme="horror"] .container {
  color: white;
  font-weight: 100;
}

.counter-game-card[data-theme="horror"] .container h1 {
  color: rgba(122, 16, 16, 0.8);
  font-family: "Zombie_Holocaust", sans-serif;
}

.container .game-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .game-buttons button {
  margin: 0 1rem;
  font-size: 0.8rem;
  flex: 1;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
}

.container .game-buttons button[disabled] {
  filter: brightness(40%);
}

.container .game-buttons .output-num {
  width: 8rem;
  background-image: url("../assets/images/blood.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  height: 8rem;

  box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset,
    rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset,
    rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset,
    rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px,
    rgba(255, 255, 255, 0.09) 0px 8px 4px,
    rgba(255, 255, 255, 0.09) 0px 16px 8px,
    rgba(255, 255, 255, 0.09) 0px 32px 16px;
  animation: outputBgAnim 5s infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
  text-align: center;
  color: white;
  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes outputBgAnim {
  0% {
    filter: brightness(100%);
    opacity: 1;
  }
  25% {
    filter: brightness(80%);
    opacity: 0.8;
    transform: translateY(100px);
  }
  50% {
    filter: brightness(60%);
    opacity: 0.5;
    box-shadow: none;
  }
  75% {
    filter: brightness(80%);
    opacity: 0.8;
    transform: translateY(-100px);
  }
  100% {
    filter: brightness(100%);
    opacity: 1;
  }
}

.game-over-img {
  background-image: url("../assets/images/skull.jpg");
  font-weight: 300;
}

/*Rain styles*/

body[data-theme="horror"] .drop {
  position: absolute;
  background: linear-gradient(transparent, rgb(41, 4, 4));
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 6.25rem;
  top: 0;
  animation: rainAnim 5s linear infinite;
}

body[data-theme="horror"] .drop:nth-child(3n + 1) {
  background: linear-gradient(transparent, rgb(22, 2, 2));
}

body[data-theme="horror"] .drop:nth-child(3n + 1) {
  background: linear-gradient(transparent, rgb(32, 12, 12));
}

body[data-theme="horror"] .drop:nth-child(3n + 3) {
  background: linear-gradient(transparent, rgb(49, 7, 7));
}

/*Rain animation*/

@keyframes rainAnim {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(calc(100vh - 20px));
  }
}
