/*media queries for min-width 380px */

@media screen and (min-width: 370px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 0.8rem;
  }
  button {
    font-size: 1rem;
  }

  .container .game-buttons button {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
  }

  .container .game-buttons .output-num {
    height: 12rem;
    width: 12rem;
    font-size: 3rem;
  }

  .game-over-img,
  .win-img {
    width: 12rem;
    height: 12rem;
  }
}

/*media queries for min-width 520px*/

@media screen and (min-width: 520px) {
  .counter-game-card[data-theme="horror"] {
    background-color: rgba(22, 21, 21, 0.6);
  }

  .counter-game-card[data-theme="fairy"] {
    background-color: rgba(132, 201, 180, 0.4);
  }
  h1 {
    font-size: 2.2rem;
  }
  p {
    font-size: 0.9rem;
  }

  .counter-game-card {
    width: 31.25rem;
    height: 31.25rem;
    border-radius: 100%;
    padding: 2rem;
  }

  .counter-game-card::after {
    border-radius: 100%;
  }

  .container {
    width: 90%;
  }

  .container .game-buttons button {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
  }

  .container .game-buttons .output-num {
    height: 15rem;
    width: 15rem;
  }

  .game-over-img,
  .win-img {
    width: 14rem;
    height: 14rem;
  }
}

/*media queries for min-width 1440px*/

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.5rem;
    margin-top: 4rem;
    line-height: 2.8rem;
  }

  button {
    margin-top: 4rem;
    font-size: 1.5rem;
    padding: 2rem !important;
  }

  .counter-game-card {
    width: 50rem;
    height: 50rem;
    padding: 3rem;
  }

  .container .game-buttons button {
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
  }

  .container .game-buttons .output-num {
    height: 25rem;
    width: 25rem;
  }

  .game-over-img,
  .win-img {
    margin-top: 4rem;
    width: 18rem;
    height: 18rem;
  }

  body[data-theme="horror"] .drop {
    height: 8rem;
  }

  body[data-theme="fairy"] .drop {
    height: 1.5rem;
  }
}
